
@if (list == null)
{
    <h1>No Data Avaliable</h1>
}
else
{
    @if (type != "none")
    {
        @if (type == "text")
        {
            <div class="mb-4" >
                <label>@label</label>
                <input type="text" @bind-value="value" @bind-value:event="oninput"
                       class="form-check form-control" />
                <br />
                <button class="btn btn-primary" @onclick="Search">Search</button>
            </div>
        }
    }

    <table class="table">
        <thead>
            <tr>
                @foreach (var item in titles)
                {
                    <td>@item</td>
                }
            </tr>
        </thead>
        <tbody>
            @foreach (object obj in list)
            {
                <tr>
                    @foreach (var prop in obj.GetType().GetProperties())
                    {
                        <td>@prop.GetValue(obj)</td>
                    }
                </tr>
            }
        </tbody>
    </table>
}


@code {
    public string value { get; set; }

    [Parameter]
    public string[] titles { get; set; }

    [Parameter]
    public object[] list { get; set; }

    [Parameter]
    public string type { get; set; } = "none";

    [Parameter]
    public string label { get; set; } = "";

    [Parameter]
    public EventCallback<string> eventQueue { get; set; }

    public void Search()
    {
        eventQueue.InvokeAsync(value);
    }

}
